 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
 }

 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
 }

 .box{
    width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
 }
.box h1{
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

.input-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-section >label{
    margin: 5px 0px;
    color: #555;
    
}

.input-section >input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 5px;
}

#calculateBtn{
    padding: 10px;
    width: 100%;
}
.footer{
    text-align: center;
    margin-top: 20px;
    color: #777;
}