*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contaner{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    margin-bottom: 20px;
    color: #333;
}
#new-quote{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
#new-quote:hover{
    background-color: #0056b3;
}
#quote-display{
    font-size: 18px;
    color: #555;
    min-height: 50px;
}